{% extends 'layout.html' %}

{% block body %}
<head>
	<div class="jumbotron text-center">
		<h1>My Fit Timer</h1>
		<p class="lead">This Application is built using python and flask framework</p>
	</div>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
		$(function() {
			// When the start timer button is clicked, call the start_function route.
			// This runs the start(self) method which runs the stopwatch.
			$('a#start').on('click', function(e) {
				e.preventDefault()
				$.getJSON('/start_function', 
					function(data) {
					
			});
			return false;
			});
		});
	</script>
	<div class='container'>
		<div class='center'>
			<form action = "/stopwatch" method = "post">
				<br></br>
				<h3>Please Click the Start Timer and then the Stop Timer</h3>
				<a href=# id=start><button class=button>Start Timer</button></a>
				<p><input type = "submit" value = "Stop Timer"/></p>
			</form>
			<br></br>
			<form action = "/stored" method = "post">
				<h3>Click on Timer History to see your History of Elapsed Times</h3>
				<p><input type = "submit" value = "Timer History"/></p>
			</form>
		</div>
	</div>
</body>


{% endblock %}
